$electricblue: #0022FF;

/*red*/
$red050: #FFEBEE;
$red100: #FFCDD2;
$red200: #EF9A9A;
$red300: #E57373;
$red400: #EF5350;
$red500: #F44336;
$red600: #E53935;
$red700: #D32F2F;
$red800: #C62828;
$red900: #B71C1C;

/*pink*/
$pink050: #FCE4EC;
$pink100: #F8BBD0;
$pink200: #F48FB1;
$pink300: #F06292;
$pink400: #EC407A;
$pink500: #E91E63;
$pink600: #D81B60;
$pink700: #C2185B;
$pink800: #AD1457;
$pink900: #880E4F;

/*purple*/
$purple050: #F3E5F5;
$purple100: #E1BEE7;
$purple200: #CE93D8;
$purple300: #BA68C8;
$purple400: #AB47BC;
$purple500: #9C27B0;
$purple600: #8E24AA;
$purple700: #7B1FA2;
$purple800: #6A1B9A;
$purple900: #4A148C;

/*purple deep*/
$purpledeep050: #EDE7F6;
$purpledeep100: #D1C4E9;
$purpledeep200: #B39DDB;
$purpledeep300: #9575CD;
$purpledeep400: #7E57C2;
$purpledeep500: #673AB7;
$purpledeep600: #5E35B1;
$purpledeep700: #512DA8;
$purpledeep800: #4527A0;
$purpledeep900: #311B92;


/*indigo*/
$indigo050: #E8EAF6;
$indigo100: #C5CAE9;
$indigo200: #9FA8DA;
$indigo300: #7986CB;
$indigo400: #5C6BC0;
$indigo500: #3F51B5;
$indigo600: #3949AB;
$indigo700: #303F9F;
$indigo800: #283593;
$indigo900: #1A237E;

/*blue*/
$blue050: #E3F2FD;
$blue100: #BBDEFB;
$blue200: #90CAF9;
$blue300: #64B5F6;
$blue400: #42A5F5;
$blue500: #2196F3;
$blue600: #1E88E5;
$blue700: #1976D2;
$blue800: #1565C0;
$blue900: #0D47A1;

/*blue light*/
$bluelight050: #E1F5FE;
$bluelight100: #B3E5FC;
$bluelight200: #81D4FA;
$bluelight300: #4FC3F7;
$bluelight400: #29B6F6;
$bluelight500: #03A9F4;
$bluelight600: #039BE5;
$bluelight700: #0288D1;
$bluelight800: #0277BD;
$bluelight900: #01579B;

/*cyan*/
$cyan050: #E0F7FA;
$cyan100: #B2EBF2;
$cyan200: #80DEEA;
$cyan300: #4DD0E1;
$cyan400: #26C6DA;
$cyan500: #00BCD4;
$cyan600: #00ACC1;
$cyan700: #0097A7;
$cyan800: #00838F;
$cyan900: #006064;

/*teal*/
$teal050: #E0F2F1;
$teal100: #B2DFDB;
$teal200: #80CBC4;
$teal300: #4DB6AC;
$teal400: #26A69A;
$teal500: #009688;
$teal600: #00897B;
$teal700: #00796B;
$teal800: #00695C;
$teal900: #004D40;

/*green*/
$green050: #E8F5E9;
$green100: #C8E6C9;
$green200: #A5D6A7;
$green300: #81C784;
$green400: #66BB6A;
$green500: #4CAF50;
$green600: #43A047;
$green700: #388E3C;
$green800: #2E7D32;
$green900: #1B5E20;

/*green light*/
$greenlight050: #F1F8E9;
$greenlight100: #DCEDC8;
$greenlight200: #C5E1A5;
$greenlight300: #AED581;
$greenlight400: #9CCC65;
$greenlight500: #8BC34A;
$greenlight600: #7CB342;
$greenlight700: #689F38;
$greenlight800: #558B2F;
$greenlight900: #33691E;

/*lime*/
$lime050: #F9FBE7;
$lime100: #F0F4C3;
$lime200: #E6EE9C;
$lime300: #DCE775;
$lime400: #D4E157;
$lime500: #CDDC39;
$lime600: #C0CA33;
$lime700: #AFB42B;
$lime800: #9E9D24;
$lime900: #827717;

/*yellow*/
$yellow050: #FFFDE7;
$yellow100: #FFF9C4;
$yellow200: #FFF59D;
$yellow300: #FFF176;
$yellow400: #FFEE58;
$yellow500: #FFEB3B;
$yellow600: #FDD835;
$yellow700: #FBC02D;
$yellow800: #F9A825;
$yellow900: #F57F17;

/*amber*/
$amber050: #FFF8E1;
$amber100: #FFECB3;
$amber200: #FFE082;
$amber300: #FFD54F;
$amber400: #FFCA28;
$amber500: #FFC107;
$amber600: #FFB300;
$amber700: #FFA000;
$amber800: #FF8F00;
$amber900: #FF6F00;

/*orange*/
$orange050: #FFF3E0;
$orange100: #FFE0B2;
$orange200: #FFCC80;
$orange300: #FFB74D;
$orange400: #FFA726;
$orange500: #FF9800;
$orange600: #FB8C00;
$orange700: #F57C00;
$orange800: #EF6C00;
$orange900: #E65100;

/*orange deep*/
$orangedeep050: #FBE9E7;
$orangedeep100: #FFCCBC;
$orangedeep200: #FFAB91;
$orangedeep300: #FF8A65;
$orangedeep400: #FF7043;
$orangedeep500: #FF5722;
$orangedeep600: #F4511E;
$orangedeep700: #E64A19;
$orangedeep800: #D84315;
$orangedeep900: #BF360C;

/*brown*/
$brown050: #EFEBE9;
$brown100: #D7CCC8;
$brown200: #BCAAA4;
$brown300: #A1887F;
$brown400: #8D6E63;
$brown500: #795548;
$brown600: #6D4C41;
$brown700: #5D4037;
$brown800: #4E342E;
$brown900: #3E2723;

/*grey*/
$grey050: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;

/*grey blue*/
$greyblue050: #ECEFF1;
$greyblue100: #CFD8DC;
$greyblue200: #B0BEC5;
$greyblue300: #90A4AE;
$greyblue400: #78909C;
$greyblue500: #607D8B;
$greyblue600: #546E7A;
$greyblue700: #455A64;
$greyblue800: #37474F;
$greyblue900: #263238;
