
body,
html {
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  @apply text-gray-900 ;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  width: 100%;

  &:focus {
    outline: none;
  }
}

*::before,
*::after {
  box-sizing: border-box;
}


#app {
  @apply h-full flex flex-col flex-grow;
}


main {
  flex-grow: 1;
}
footer {
  flex-shrink: 0;
  @apply text-center py-5 text-gray-600;
}



input {
  @apply bg-gray-100 px-3 py-2 w-full rounded;
}

button:focus {
  outline: 0;
}

textarea, select, input, button {
  outline: 0;
}

a {
  @apply text-blue-800;
  &:hover {
    @apply text-blue-600 underline cursor-pointer;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



